[data-dispositivo="capitulo"], [data-dispositivo="titulo"],
[data-dispositivo="livro"], [data-dispositivo="parte"]  {
    font-size: 1.1rem ;
    text-transform: uppercase;
    text-align: center ;
    white-space: pre-line ;
}

[data-dispositivo="subsecao"], [data-dispositivo="secao"]  {
    font-size: 1.05rem ;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center ;
    white-space: pre-line ;
}

[data-dispositivo="paragrafo"] {
    text-indent: 1% ;
}

[data-dispositivo="inciso"] {
    text-indent: 2% ;
}

[data-dispositivo="alinea"] {
    text-indent: 3% ;
}

[data-dispositivo="item"] {
    text-indent: 4% ;
}

p {
    line-height: 1.5;
}
